flows_C069.json
[{"id":"75278354.160e8c","type":"tab","label":"Kardex_BOM_Kit_Import_Dashboard","disabled":false,"info":""},{"id":"ce0ad7ac.891678","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"10a9edd6.196032","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"6d26240.4c68bdc","type":"tab","label":"Kardex Import Vue","disabled":false,"info":""},{"id":"3771bc50.fd24c4","type":"tab","label":"Kardex Kitting","disabled":false,"info":""},{"id":"f5f4892b.989ea8","type":"subflow","name":"File Upload","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"6ad0e8d1.24c8e8"}]}],"out":[{"x":1040,"y":240,"wires":[{"id":"90e9ac9e.8774f","port":0}]}],"env":[{"name":"Extension","type":"json","value":"{\"extension\":\"xlsm\"}"},{"name":"UPLOAD_DIR","type":"json","value":"{\"directory\":\".\"}"}],"color":"#DDAA99"},{"id":"2b43db79.129074","type":"subflow","name":"List Files","info":"# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n","category":"","in":[{"x":80,"y":80,"wires":[{"id":"4b045550.e8eb4c"}]}],"out":[{"x":840,"y":40,"wires":[{"id":"19e12cbb.03b9d3","port":0}]}],"env":[{"name":"DIRECTORY","type":"str","value":""},{"name":"EXTENSIONS","type":"json","value":"[]"}]},{"id":"b0bb0e27.90ab6","type":"subflow","name":"Multiple File Upload","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"22b71a3f.d545d6"}]}],"out":[{"x":1000,"y":240,"wires":[{"id":"33f9cfd8.71503","port":0}]}],"env":[{"name":"Extension","type":"json","value":"{\"extension\":\"csv\"}"},{"name":"UPLOAD_DIR","type":"json","value":"{\"directory\":\".\"}"}],"color":"#DDAA99"},{"id":"f0db09d4.eeae38","type":"subflow","name":"File Download","info":"","category":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":1120,"y":440,"wires":[]}],"env":[{"name":"directory","type":"json","value":"\"directory\":\"\\\\itm01\\purchasing\\"}],"color":"#DDAA99"},{"id":"51e19350.fd642c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Kardex Import Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f9425dc4.3eee7","type":"ui_tab","z":"75278354.160e8c","name":"Kardex","icon":"fa fa-cloud-upload","order":1,"disabled":false,"hidden":false},{"id":"516662a4.99ac4c","type":"ui_group","z":"","name":"BOM Import","tab":"f9425dc4.3eee7","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc36bfc3.874dc","type":"ui_group","z":"","name":"Kit Import","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"52ff29ad.8abad8","type":"ui_group","z":"","name":"UserEntry","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd62ef68.1c01e","type":"ui_group","z":"","name":"dialog","tab":"","order":2,"disp":false,"width":"1","collapse":false},{"id":"c809b2e9.42dec","type":"ui_group","z":"","name":"test","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"e4d2e19d.69636","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"9c2be7be.c0c738","type":"ui_group","z":"","name":"Registros","tab":"","order":1,"disp":true,"width":"6"},{"id":"891304b7.533c78","type":"ui_group","z":"","name":"Data Export","tab":"","order":1,"disp":true,"width":"12"},{"id":"8bf67124.79f34","type":"ui_group","z":"","name":"Download Kardex Files","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2780c265.5f303e","type":"ui_group","z":"","name":"Kit Import","tab":"f9425dc4.3eee7","order":3,"disp":true,"width":"6","collapse":false},{"id":"53a75a43.8307f4","type":"websocket-listener","z":"ce0ad7ac.891678","path":"/websocket","wholemsg":"false"},{"id":"f1e44c1f.d2a15","type":"inject","z":"75278354.160e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":80,"wires":[["e8233fe2.22999"]]},{"id":"e8233fe2.22999","type":"function","z":"75278354.160e8c","name":"","func":"var msg = { payload: msg.payload.length };\n\nmsg.payload = \"C:\\\\Users\\\\afortier.INTEGRITYPD\\\\Documents\\\\Kitting\\\\9582 BOM\\\\9582 Issued July 17BB.xlsm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":80,"wires":[["c97f0860.1c1668"]]},{"id":"c97f0860.1c1668","type":"import","z":"75278354.160e8c","sheetname":"BOM","x":610,"y":160,"wires":[["b0296005.945d9"],["d295442b.2dc2f8"]]},{"id":"4d7067e8.348b68","type":"subflow:f5f4892b.989ea8","z":"75278354.160e8c","name":"","env":[],"x":290,"y":160,"wires":[["c27192e1.c4741"]]},{"id":"28e31de0.362022","type":"http in","z":"f5f4892b.989ea8","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":180,"y":380,"wires":[["307d4b88.b10d74","573f87df.dec048","95df04b2.96c578"]]},{"id":"1c1550af.f59acf","type":"http response","z":"f5f4892b.989ea8","name":"","statusCode":"","headers":{},"x":890,"y":380,"wires":[]},{"id":"307d4b88.b10d74","type":"change","z":"f5f4892b.989ea8","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR').directory  & '\\\\' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["8cf7c47e.b6a938"]]},{"id":"90e9ac9e.8774f","type":"file","z":"f5f4892b.989ea8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":260,"wires":[[]]},{"id":"38c2b531.7341ca","type":"catch","z":"f5f4892b.989ea8","name":"","scope":null,"uncaught":false,"x":160,"y":440,"wires":[["b6377f01.18dd2"]]},{"id":"e925b4e.639b948","type":"ui_toast","z":"f5f4892b.989ea8","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":570,"y":440,"wires":[]},{"id":"b6377f01.18dd2","type":"change","z":"f5f4892b.989ea8","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["e925b4e.639b948","3f9e8d7e.1c5fd2"]]},{"id":"573f87df.dec048","type":"change","z":"f5f4892b.989ea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["1c1550af.f59acf"]]},{"id":"36dd8194.4870fe","type":"function","z":"f5f4892b.989ea8","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":320,"wires":[["f1ac4b38.d44218"]]},{"id":"ef98a7b6.ee48c8","type":"ui_template","z":"f5f4892b.989ea8","group":"516662a4.99ac4c","name":"Upload","order":2,"width":"6","height":"3","format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\nvar ext_bom;\n\nfunction _(el){\n    return document.getElementById(el);\n}\n\n(function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            ext_bom = data;\n        });\n    })(scope);\n\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    var filename = file.name.toString();\n    var extension = ext_bom;\n    if(!filename.includes(extension)){\n        alert(`Extension must be ${extension}`);\n        _(\"status\").innerHTML = \"Extension must be \" + extension;\n        return;\n    }\n    //alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":280,"wires":[[]]},{"id":"fafcffb4.c17f8","type":"exec","z":"2b43db79.129074","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":60,"wires":[["19e12cbb.03b9d3"],[],[]]},{"id":"19e12cbb.03b9d3","type":"change","z":"2b43db79.129074","name":"split and filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $files := [$split(payload, '\\n')[$ != \"\"]];\t    $count($env('EXTENSIONS')) = 0 ? [$files] : [$files[$split($, '.')[-1] in $env('EXTENSIONS')]];\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[[]]},{"id":"4b045550.e8eb4c","type":"switch","z":"2b43db79.129074","name":"","property":"$env('DIRECTORY')","propertyType":"jsonata","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["fafcffb4.c17f8"],["21c1c2e7.27630e"]]},{"id":"21c1c2e7.27630e","type":"change","z":"2b43db79.129074","name":"DIRECTORY","rules":[{"t":"set","p":"payload","pt":"msg","to":"DIRECTORY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["fafcffb4.c17f8"]]},{"id":"8cf7c47e.b6a938","type":"function","z":"f5f4892b.989ea8","name":"","func":"\nlet strFileName = msg.filename;\nlet ext = env.get('Extension');\nlet dir = env.get('UPLOAD_DIR');\nvar msg2 = {};\n\nvar isValid = strFileName.includes(ext.extension);\n\nif (!isValid){\n    msg = null;\n    msg2.payload = \"Extension error\";\n} else {\n    msg.topic = \"file\";\n    msg2 = null;\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["90e9ac9e.8774f"],["36dd8194.4870fe"]]},{"id":"e984a2f3.5699d","type":"ui_text_input","z":"75278354.160e8c","name":"","label":"Sheet name:","tooltip":"","group":"516662a4.99ac4c","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"Sheetname","x":290,"y":280,"wires":[["c27192e1.c4741"]]},{"id":"eb1e909a.52267","type":"http in","z":"b0bb0e27.90ab6","name":"","url":"/fileuploadkit","method":"post","upload":true,"swaggerDoc":"","x":330,"y":440,"wires":[["78094834.339238","d3c054d1.ca3168"]]},{"id":"8ac225a3.446bb8","type":"http response","z":"b0bb0e27.90ab6","name":"","statusCode":"","headers":{},"x":1030,"y":440,"wires":[]},{"id":"78094834.339238","type":"change","z":"b0bb0e27.90ab6","name":"getFile","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":360,"wires":[["33f9cfd8.71503","d9e3e27c.f4b7f"]]},{"id":"ddf9a4c9.ee5e98","type":"catch","z":"b0bb0e27.90ab6","name":"","scope":null,"x":300,"y":500,"wires":[["19fbacce.d4d9f3"]]},{"id":"a2f55d7c.91e1c","type":"ui_toast","z":"b0bb0e27.90ab6","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":500,"wires":[]},{"id":"19fbacce.d4d9f3","type":"change","z":"b0bb0e27.90ab6","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":500,"wires":[["a2f55d7c.91e1c"]]},{"id":"d3c054d1.ca3168","type":"change","z":"b0bb0e27.90ab6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":440,"wires":[["8ac225a3.446bb8"]]},{"id":"77c94e18.5f0f1","type":"ui_template","z":"b0bb0e27.90ab6","group":"2780c265.5f303e","name":"Upload","order":1,"width":"6","height":"3","format":"<form id=\"kit_upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file_kit\" id=\"file_kit\" multiple/><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadKitFiles()\">\n    <div id='file-list-display'></div>\n    <progress id=\"progressBar_kit\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status_kit\"></p>\n    <p id=\"loaded_n_total_kit\"></p>\n</form>\n\n\n<script>\nvar ext;\n\nfunction _(el){\n    return document.getElementById(el);\n}\n\n(function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            ext = data;\n        });\n    })(scope);\n\nfunction uploadKitFiles(){\n    var fileCatcher = document.getElementById('kit_upload_form');\n    var fileInput = document.getElementById('file_kit');\n    var fileListDisplay = document.getElementById('file-list-display');\n    \n    var fileList = [];\n    var renderFileList, sendFile;\n   \n  \tfor (var i = 0; i < fileInput.files.length; i++) {\n  \t    var filename = (fileInput.files[i].name).toString();\n        if(filename.includes(ext)){\n            fileList.push(fileInput.files[i]);\n        } else {\n             alert(`Extension must be ${ext}`);\n            _(\"status_kit\").innerHTML = \"Extension must be \" + ext;\n            return;\n        }\n    }\n    \n    function renderFileList(){\n        fileListDisplay.innerHTML = '';\n        fileList.forEach(function (file, index) {\n            var fileDisplayEl = document.createElement('p');\n                fileDisplayEl.innerHTML = (index + 1) + ': ' + file.name;\n                fileListDisplay.appendChild(fileDisplayEl);\n        });\n    }\n    renderFileList();\n\n    function sendFile(){\n        var formdata = new FormData();\n        fileList.forEach(function (file, index) {\n            var filename = (index + 1) + ': ' + file.name;\n            formdata.append(filename, file);\n        });\n        var ajax = new XMLHttpRequest();\n        ajax.upload.addEventListener(\"progress\", progressHandler_kit, false);\n        ajax.addEventListener(\"load\", completeHandler_kit, false);\n        ajax.addEventListener(\"error\", errorHandler_kit, false);\n        ajax.addEventListener(\"abort\", abortHandler_kit, false);\n        ajax.open(\"POST\", \"/fileuploadkit\");\n        ajax.send(formdata);\n    }\n    \n    sendFile();\n\n}\n\nfunction progressHandler_kit(event){\n    _(\"loaded_n_total_kit\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar_kit\").value = Math.round(percent);\n    _(\"status_kit\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler_kit(event){\n    _(\"status_kit\").innerHTML = event.target.responseText;\n    _(\"progressBar_kit\").value = 0;\n}\nfunction errorHandler_kit(event){\n    _(\"status_kit\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler_kit(event){\n    _(\"status_kit\").innerHTML = \"Upload Aborted\";\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":160,"wires":[[]]},{"id":"33f9cfd8.71503","type":"function","z":"b0bb0e27.90ab6","name":"","func":"const fs = global.get('fsModule');\n\nlet ext = env.get('Extension');\nlet dir = env.get('UPLOAD_DIR');\n\nvar newMsg = { payload: [] };\nvar filenames = [];\nvar valid = true;\n\nnode.status({});\n\nmsg.req.files.forEach(function (file,index, arr){\n    if (!valid) return;\n    var strFileName = file.originalname;\n    var isValid = strFileName.includes(ext.extension);\n    if (!isValid){\n       valid = false;\n    } else {\n        arr[index].originalname = dir.directory + \"\\\\\" + file.originalname;\n    }\n    var fileObj = {filename : file.fieldname, data : file.buffer};\n    newMsg.payload.push(fileObj);\n});\n\n//write csv files to home directory\nif (msg !== null){\n    msg.req.files.forEach(function (file,index, arr){\n        fs.writeFile(file.originalname, file.buffer, (err) => { \n        // In case of a error throw err. \n        if (err) throw err; \n        \n        }) \n    }); \n}\n\nif (!valid){\n    var errorMsg = `Error: only ${env.get('Extension').extension} files are allowed.`;\n    node.status({ fill:\"red\", shape:\"dot\", text: errorMsg});\n    return [null, msg];\n} else {\n   return [newMsg, null];\n}\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":360,"wires":[[],["2f5842b.8318dbe"]]},{"id":"b4bacb71.abe658","type":"subflow:b0bb0e27.90ab6","z":"75278354.160e8c","name":"","env":[],"x":330,"y":440,"wires":[["ef188a3.a67f678"]]},{"id":"c27192e1.c4741","type":"function","z":"75278354.160e8c","name":"","func":"context.data = context.data || {file:null, sheetname:\"\"};\n\nswitch (msg.topic) {\n    case \"file\":\n        context.data.file = msg.filename;\n        node.warn(context.data.file);\n        msg = null;\n        break;\n    case \"Sheetname\":\n        context.data.sheetname = msg.payload;\n        node.warn(context.data.sheetname);\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.file !== null) {\n    if(context.data.sheetname.length === 0){\n        context.data.sheetname = \"BOM\"\n    }\n\tvar msg2 = { payload: context.data };\n\treturn msg2;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["c97f0860.1c1668"]]},{"id":"d295442b.2dc2f8","type":"function","z":"75278354.160e8c","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[]},{"id":"90984e58.fe95f","type":"catch","z":"75278354.160e8c","name":"","scope":null,"uncaught":false,"x":80,"y":900,"wires":[["58cbee80.5c6a1"]]},{"id":"f7890897.ddde58","type":"ui_toast","z":"75278354.160e8c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":490,"y":900,"wires":[]},{"id":"58cbee80.5c6a1","type":"change","z":"75278354.160e8c","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":900,"wires":[["f7890897.ddde58"]]},{"id":"b0296005.945d9","type":"BOM Pre-process","z":"75278354.160e8c","x":810,"y":100,"wires":[["781859bf.fc8c88"],["701be987.603028"]]},{"id":"781859bf.fc8c88","type":"link out","z":"75278354.160e8c","name":"BOM Pre-process done","links":["f7e012a1.7d20d"],"x":995,"y":40,"wires":[]},{"id":"701be987.603028","type":"function","z":"75278354.160e8c","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1010,"y":200,"wires":[]},{"id":"6ba16268.67ba5c","type":"comment","z":"75278354.160e8c","name":"Job BOM import","info":"Import job BOM from excel file","x":100,"y":40,"wires":[]},{"id":"b6695d30.7aed","type":"comment","z":"75278354.160e8c","name":"Kit BOM Import","info":"","x":100,"y":440,"wires":[]},{"id":"2f5842b.8318dbe","type":"function","z":"b0bb0e27.90ab6","name":"Error","func":"var errorMsg = `Error: only ${env.get('Extension').extension} files are allowed.`;\nnode.error(errorMsg, msg)\nnode.status({ fill:\"red\", shape:\"dot\", text: errorMsg});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":380,"wires":[[]]},{"id":"ef188a3.a67f678","type":"function","z":"75278354.160e8c","name":"BytetoString","func":"//extra bytes 0x000?, 0x00?0, 0x0?00, 0x?000, 0x0??0, 0x??00, 0x???0\nconst extraByteMap = [ 1, 1, 1, 1, 2, 2, 3, 0 ];\nmsg.topic = \"files\"\n\nmsg.payload.forEach(function (file,idx, arr){\n    var count = 0;\n    var data = [];\n    if (Buffer.isBuffer(arr[idx].data)){\n        data = Object.values(arr[idx].data);\n    } else {\n        var buffer = Object.values(arr[idx].data);\n        data = buffer[1];\n    }\n    var str = \"\";\n    for (var index = 0;index <data.length;)  //was count\n    {\n      var ch = data[index++];\n      if (ch & 0x80)\n      {\n        //check for non-ASCII (decimal 128-10175, hex x80-x27BF)\n        var extra = extraByteMap[(ch >> 3) & 0x07]; \n        if (!(ch & 0x40) || !extra || ((index + extra) > data.length)){\n          ch = ch & 0xFF;\n        } else {\n            ch = ch & (0x3F >> extra);\n            for (;extra > 0;extra -= 1)\n            {\n              var chx = data[index++];\n              if ((chx & 0xC0) != 0x80){\n                chx = 0x00;\n              }\n              ch = (ch << 6) | (chx & 0x3F);\n            }\n        }\n      }\n\n      str += String.fromCharCode(ch);\n    }\n    arr[idx].data = str;\n});\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":420,"wires":[["e5d9b48c.eed028"]]},{"id":"b402c7b1.99e488","type":"change","z":"75278354.160e8c","name":"getJobNumber","rules":[{"t":"set","p":"topic","pt":"msg","to":"jobnumber","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["e5d9b48c.eed028"]]},{"id":"f7e012a1.7d20d","type":"link in","z":"75278354.160e8c","name":"","links":["781859bf.fc8c88"],"x":35,"y":500,"wires":[["b402c7b1.99e488"]]},{"id":"e5d9b48c.eed028","type":"function","z":"75278354.160e8c","name":"","func":"context.kit_data = context.kit_data || {jobnumber:null, bom:null, data: null};\n\nswitch (msg.topic) {\n    case \"files\":\n        context.kit_data.data = msg.payload;\n        msg = null;\n        break;\n    case \"jobnumber\":\n        context.kit_data.jobnumber = msg.payload.jobnumber;\n        context.kit_data.bom = msg.payload.bom;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.kit_data.data !== null && context.kit_data.jobnumber !== null) {\n\tvar msg2 = { payload: context.kit_data };\n\treturn msg2;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":460,"wires":[["d8e52e82.e6e12"]]},{"id":"d8e52e82.e6e12","type":"Kit Pre-process","z":"75278354.160e8c","x":900,"y":460,"wires":[["959431ab.75dfa"],["b2a751d.43062b"]]},{"id":"b2a751d.43062b","type":"function","z":"75278354.160e8c","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1090,"y":500,"wires":[]},{"id":"22b71a3f.d545d6","type":"function","z":"b0bb0e27.90ab6","name":"Get extension env variable","func":"let ext = env.get('Extension');\nmsg.payload = ext.extension.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":40,"wires":[["77c94e18.5f0f1"]]},{"id":"2d49ad2d.4f2232","type":"inject","z":"75278354.160e8c","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"startup","payload":"","payloadType":"date","x":100,"y":180,"wires":[["4d7067e8.348b68","b4bacb71.abe658"]]},{"id":"6ad0e8d1.24c8e8","type":"function","z":"f5f4892b.989ea8","name":"Get extension env variable","func":"var msg_reset = {};\nlet ext = env.get('Extension');\n\nmsg_reset.payload = ext.extension.toString();\n\nreturn msg_reset;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":40,"wires":[["ef98a7b6.ee48c8"]]},{"id":"f1ac4b38.d44218","type":"link out","z":"f5f4892b.989ea8","name":"","links":["1053199.f8650e6"],"x":1025,"y":320,"wires":[]},{"id":"1053199.f8650e6","type":"link in","z":"f5f4892b.989ea8","name":"","links":["f1ac4b38.d44218","3f9e8d7e.1c5fd2","e0d75c80.36c6b","b54af20.c6cef1"],"x":65,"y":120,"wires":[["6ad0e8d1.24c8e8"]]},{"id":"3f9e8d7e.1c5fd2","type":"link out","z":"f5f4892b.989ea8","name":"","links":["1053199.f8650e6"],"x":445,"y":500,"wires":[]},{"id":"2156f58e.d5773a","type":"Kardex Kit Import Pre-process","z":"75278354.160e8c","x":330,"y":760,"wires":[["4ce0d0dd.6a21d"],["f362e603.9563e8"]]},{"id":"f362e603.9563e8","type":"function","z":"75278354.160e8c","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":570,"y":820,"wires":[]},{"id":"959431ab.75dfa","type":"link out","z":"75278354.160e8c","name":"","links":["a30b3ca4.bb916"],"x":1155,"y":420,"wires":[]},{"id":"a30b3ca4.bb916","type":"link in","z":"75278354.160e8c","name":"","links":["959431ab.75dfa"],"x":35,"y":760,"wires":[["2156f58e.d5773a"]]},{"id":"45f3bad6.4cfb74","type":"comment","z":"75278354.160e8c","name":"Kit and BOM preprocessing","info":"","x":150,"y":700,"wires":[]},{"id":"549c64d5.f6b19c","type":"http in","z":"f0db09d4.eeae38","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":180,"y":420,"wires":[["2ef08f5d.e6aa8","ded3388a.1621a8"]]},{"id":"d4e6660e.2bbec8","type":"http response","z":"f0db09d4.eeae38","name":"","statusCode":"","headers":{},"x":890,"y":420,"wires":[]},{"id":"2ef08f5d.e6aa8","type":"change","z":"f0db09d4.eeae38","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR').directory  & '\\\\' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":360,"wires":[["9d6582c2.b9281"]]},{"id":"d3488e52.e8eb7","type":"file","z":"f0db09d4.eeae38","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":300,"wires":[[]]},{"id":"c4328073.51cca","type":"catch","z":"f0db09d4.eeae38","name":"","scope":null,"uncaught":false,"x":160,"y":480,"wires":[["22c154bd.14a24c"]]},{"id":"b8e85b5f.6bd588","type":"ui_toast","z":"f0db09d4.eeae38","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":570,"y":480,"wires":[]},{"id":"22c154bd.14a24c","type":"change","z":"f0db09d4.eeae38","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["b8e85b5f.6bd588","6dc7e314.768eec"]]},{"id":"ded3388a.1621a8","type":"change","z":"f0db09d4.eeae38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":420,"wires":[["d4e6660e.2bbec8"]]},{"id":"cc25bc60.a3371","type":"function","z":"f0db09d4.eeae38","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":360,"wires":[["5f55ae5f.268ea"]]},{"id":"9d6582c2.b9281","type":"function","z":"f0db09d4.eeae38","name":"","func":"\nlet strFileName = msg.filename;\nlet ext = env.get('Extension');\nlet dir = env.get('UPLOAD_DIR');\nvar msg2 = {};\n\nvar isValid = strFileName.includes(ext.extension);\n\nif (!isValid){\n    msg = null;\n    msg2.payload = \"Extension error\";\n} else {\n    msg.topic = \"file\";\n    msg2 = null;\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["d3488e52.e8eb7"],["cc25bc60.a3371"]]},{"id":"ed72e681.0af658","type":"function","z":"f0db09d4.eeae38","name":"Get extension env variable","func":"var msg_reset = {};\nlet ext = env.get('Extension');\n\nmsg_reset.payload = ext.extension.toString();\n\nreturn msg_reset;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":80,"wires":[[]]},{"id":"5f55ae5f.268ea","type":"link out","z":"f0db09d4.eeae38","name":"","links":[],"x":1025,"y":360,"wires":[]},{"id":"bb601412.d2ab78","type":"link in","z":"f0db09d4.eeae38","name":"","links":[],"x":65,"y":160,"wires":[["ed72e681.0af658"]]},{"id":"6dc7e314.768eec","type":"link out","z":"f0db09d4.eeae38","name":"","links":[],"x":445,"y":540,"wires":[]},{"id":"92cd42ba.5d571","type":"http in","z":"ce0ad7ac.891678","name":"","url":"/vue-websocket","method":"get","upload":false,"swaggerDoc":"","x":230,"y":120,"wires":[["7a7fa062.000da"]]},{"id":"4a9b4f18.97d3a","type":"http response","z":"ce0ad7ac.891678","name":"","x":640,"y":120,"wires":[]},{"id":"b90488c2.ecce18","type":"function","z":"ce0ad7ac.891678","name":"kill msg","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":240,"wires":[["794f2855.b51bb8"]]},{"id":"eadcbc32.9b274","type":"websocket in","z":"ce0ad7ac.891678","name":"","server":"53a75a43.8307f4","client":"","x":270,"y":240,"wires":[["b90488c2.ecce18","6ba60dc0.877a54"]]},{"id":"794f2855.b51bb8","type":"websocket out","z":"ce0ad7ac.891678","name":"","server":"53a75a43.8307f4","client":"","x":870,"y":200,"wires":[]},{"id":"7691e3ca.8deb0c","type":"comment","z":"ce0ad7ac.891678","name":"VueJS App","info":"","x":190,"y":80,"wires":[]},{"id":"3c532067.df84f","type":"inject","z":"ce0ad7ac.891678","name":"TEST timestamp","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":200,"wires":[["794f2855.b51bb8"]]},{"id":"7a7fa062.000da","type":"template","z":"ce0ad7ac.891678","name":"VueJS Websocket","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Send</button>\n        <p>Connected: {{ isConnected }}</p>\n        <br>\n        <h4>Data</h4>\n        <p>{{ value }}</p>\n\n    \n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    form: {\n                        test: '',\n                        test2: ''\n                    },\n                    value: 'hello world',\n                    isConnected: false,\n                    wsUrl: \"ws://localhost:1880/websocket\"\n                }\n            },\n            computed: {\n                socket() {\n                    return new WebSocket(this.wsUrl);\n                }\n            },\n            methods: {\n                onSubmit() {\n                    let data = JSON.stringify(this.form);\n                    console.log('submitting data', data);\n                    this.socket.send(data);\n\n                }\n            },\n            created() {\n                this.socket.onopen = () => {\n                    console.log('socket open');\n                    this.isConnected = true;\n                };\n                this.socket.onclose = () => {\n                    this.isConnected = false;\n                };\n                this.socket.onmessage = (msg) => {\n                    console.log('socket message', msg)\n                    this.value = msg.data;\n                };\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":460,"y":120,"wires":[["4a9b4f18.97d3a"]]},{"id":"46f37e02.78c69","type":"template","z":"ce0ad7ac.891678","name":"VueJS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n\n<head>\n\n</head>\n\n<body>\n\n    <div id=\"container\">\n        <h2>VueJS REST Demo</h2>\n        <b>Server Message:</b>\n        <p>{{serverMsg}}</p>\n        <h3>Form</h3>\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test1\">\n        <input type=\"text\" id=\"container\" placeholder=\"enter text\" v-model=\"form.test2\">\n        <button @click=\"onSubmit()\">Submit</button>\n        <h4>Results</h4>\n        <p>{{ value }}</p>\n    </div>\n\n    <script src=\"https://unpkg.com/vue\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js\"></script>\n    <script>\n\n        new Vue({\n            el: '#container',\n            data() {\n                return {\n                    value: 'your post will appear here',\n                    form: {\n                        test1: '',\n                        test2: ''\n                    },\n                    serverMsg: ''\n                }\n            },\n            methods: {\n                onSubmit() {\n                    console.log('onSubmit this.form', this.form);\n                    axios.post('/vue-rest/post', this.form).then(res => {\n                        console.log('post res', res.data)\n                        this.value = res.data;\n                    });\n                }\n            },\n            mounted() {\n                axios.get('/vue-rest/data').then(res => {\n                    this.serverMsg = res.data;\n                })\n            }\n        });\n\n    </script>\n\n</body>\n\n</html>","output":"str","x":400,"y":420,"wires":[["3e94ca00.dcba26"]]},{"id":"f2acb99c.4e4698","type":"debug","z":"ce0ad7ac.891678","name":"websocket msg received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":280,"wires":[]},{"id":"6ba60dc0.877a54","type":"json","z":"ce0ad7ac.891678","name":"","property":"payload","action":"","pretty":false,"x":520,"y":280,"wires":[["f2acb99c.4e4698"]]},{"id":"553f7f99.15cec","type":"http in","z":"ce0ad7ac.891678","name":"","url":"/vue-rest","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["46f37e02.78c69"]]},{"id":"3e94ca00.dcba26","type":"http response","z":"ce0ad7ac.891678","name":"","statusCode":"","headers":{},"x":620,"y":420,"wires":[]},{"id":"851169dd.f0c1c8","type":"http in","z":"ce0ad7ac.891678","name":"","url":"/vue-rest/post","method":"post","upload":false,"swaggerDoc":"","x":260,"y":520,"wires":[["7be81edc.72f4d","98b380e1.133c8"]]},{"id":"930e1251.84cac","type":"http response","z":"ce0ad7ac.891678","name":"","statusCode":"","headers":{},"x":620,"y":520,"wires":[]},{"id":"7be81edc.72f4d","type":"debug","z":"ce0ad7ac.891678","name":"Vue POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":560,"wires":[]},{"id":"98b380e1.133c8","type":"function","z":"ce0ad7ac.891678","name":"Apply timestamp","func":"msg.payload.timestamp = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["930e1251.84cac"]]},{"id":"1b6d25f1.52275a","type":"comment","z":"ce0ad7ac.891678","name":"Websocket","info":"","x":250,"y":160,"wires":[]},{"id":"ae360c5c.239b3","type":"comment","z":"ce0ad7ac.891678","name":"VueJS App","info":"","x":190,"y":380,"wires":[]},{"id":"f0bd100a.9e00b","type":"comment","z":"ce0ad7ac.891678","name":"Form Submit","info":"","x":240,"y":480,"wires":[]},{"id":"b41dccc4.49c0d","type":"http in","z":"ce0ad7ac.891678","name":"","url":"/vue-rest/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":660,"wires":[["2b1b342b.68ddbc"]]},{"id":"8a4f1b9e.557b38","type":"http response","z":"ce0ad7ac.891678","name":"","x":620,"y":660,"wires":[]},{"id":"2b1b342b.68ddbc","type":"function","z":"ce0ad7ac.891678","name":"Sample Data","func":"msg.payload = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["8a4f1b9e.557b38"]]},{"id":"35c00529.f3346a","type":"comment","z":"ce0ad7ac.891678","name":"Receive Data","info":"","x":240,"y":620,"wires":[]},{"id":"fb4bafd4.1a254","type":"template","z":"10a9edd6.196032","name":"VueJS","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"\t<html>\n\n\t<head>\n\n\t</head>\n\n\t<body>\n\n\n\n\t  <div id=\"app\">\n\t\t<div class=\"container\">\n\t\t  <!--UPLOAD-->\n\t\t  <form enctype=\"multipart/form-data\" novalidate v-if=\"isInitial || isSaving\">\n\t\t\t<h1>Upload files</h1>\n\t\t\t  <input type=\"file\" multiple :name=\"uploadFieldName\" :disabled=\"isSaving\" @change=\"filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length\"\n\t\t\t\taccept=\".xls,.xlsm,.xlsx\" class=\"input-file\">\n\t\t\t\t<p v-if=\"isInitial\">\n\t\t\t\t  Click to browse\n\t\t\t\t</p>\n\t\t\t\t<p v-if=\"isSaving\">\n\t\t\t\t  Uploading {{ fileCount }} files...\n\t\t\t\t</p>\n\t\t\t\t<p id=\"status\"></p>\n\t\t\t\t    <p id=\"loaded_n_total\"></p>\n\t\t\t\t\n\t\t  </form>\n\t\t</div>\n\t  </div>\n\n\t \n\t\t<script src=\"https://unpkg.com/vue\"></script>\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js\"></script>\n\t\t<script>\n\n\t\tconst BASE_URL = 'http://localhost:1880';\n\n\t\tconst STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;\n\n\n\t\t new Vue({\n\t\t\tel: '#app',\n\t\t\tdata() {\n\t\t\t  return {\n\t\t\t\tuploadedFiles: [],\n\t\t\t\tuploadError: null,\n\t\t\t\tcurrentStatus: null,\n\t\t\t\tuploadFieldName: 'file',\n\t\t\t\tfileCount: 0,\n                FILE: null\t\t\t\t\n\t\t\t  }\n\t\t\t},\n\t\t\tcomputed: {\n\t\t\t  isInitial() {\n\t\t\t\treturn this.currentStatus === STATUS_INITIAL;\n\t\t\t  },\n\t\t\t  isSaving() {\n\t\t\t\treturn this.currentStatus === STATUS_SAVING;\n\t\t\t  },\n\t\t\t  isSuccess() {\n\t\t\t\treturn this.currentStatus === STATUS_SUCCESS;\n\t\t\t  },\n\t\t\t  isFailed() {\n\t\t\t\treturn this.currentStatus === STATUS_FAILED;\n\t\t\t  }\n\t\t\t},\n\t\t\tmethods: {\n\t\t\t  reset() {\n\t\t\t\t// reset form to initial state\n\t\t\t\tthis.currentStatus = STATUS_INITIAL;\n\t\t\t\tthis.uploadedFiles = [];\n\t\t\t\tthis.uploadError = null;\n\t\t\t  },\n\t\t\t  save(formData) {\n\t\t\t\t// upload data to the server\n\t\t\t\tthis.currentStatus = STATUS_SAVING\n                \n\t\t\t\tthis.upload(formData)\n\t\t\t\t  .then(x => {\n\t\t\t\t\tthis.uploadedFiles = [].concat(x);\n\t\t\t\t\tthis.currentStatus = STATUS_SUCCESS;\n\t\t\t\t  })\n\t\t\t\t  .catch(err => {\n\t\t\t\t\tthis.uploadError = err.response;\n\t\t\t\t\tthis.currentStatus = STATUS_FAILED;\n\t\t\t\t  });\n\t\t\t  },\n\t\t\t  filesChange(fieldName, fileList) {\n\t\t\t\t// handle file changes\n\t\t\t\tconst formData = new FormData();\n\t\t\t\t//var extension = ext_bom;\n\t\t\t\t//if(!filename.includes(extension)){\n                //    alert(`Extension must be ${extension}`);\n                //    _(\"status\").innerHTML = \"Extension must be \" + extension;\n                //    return;\n                //}\n\t\t\t\t\n\n\t\t\t\tif (!fileList.length) return;\n\t\t\t\t\n\t\t\t\tthis.FILE = fileList;\n\t\t\t\tfor (const i of Object.keys(this.FILE)) {\n                    formData.append('files', this.FILE[i], this.FILE[i].name );\n                  }\n\n\t\t\t\t// append the files to FormData\n\t\t\t\t//Array\n\t\t\t\t//  .from(Array(fileList.length).keys())\n\t\t\t\t//  .map(x => {\n\t\t\t\t//\tformData.append(fieldName, fileList[x], fileList[x].name);\n\t\t\t\t//  });\n\n\t\t\t\t// save it\n\t\t\t\tthis.save(formData);\n\t\t\t},\n\t\t\t  upload(formData) {\n\t\t\t\tconst url = `${BASE_URL}/file-upload/post`;\n\t\t\t\t\n\t\t\t\treturn fetch(url, {\n                    method: 'POST', // 'GET', 'PUT', 'DELETE', etc.\n                    body: formData  // Coordinate the body type with 'Content-Type'\n                  })\n                  .then(response => console.log(response))\n                  .then(data => console.log(data))\n                  .catch(error => console.error(error))\n    \t\t\t\t/*return axios.post(url, formData, {\n                        headers: {\n                            'Content-Type': `multipart/form-data; boundary=${formData._boundary}`,\n                        },\n                        timeout: 30000,\n                })\n                .then((response) => console.log(response ))\n                .catch(error => console.error(error))*/\n\t\t\t  }\n\t\t\t},\n\t\t\tmounted() {\n\t\t\t  this.reset();\n\t\t\t},\n\t\t  });\n\n\n\n\t\t</script>\n\t\t\n\n\n\t</body>\n\n\t</html>","output":"str","x":390,"y":180,"wires":[["533d73d6.0a3ddc"]]},{"id":"42d83d71.b361e4","type":"http in","z":"10a9edd6.196032","name":"","url":"/file-upload","method":"get","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["fb4bafd4.1a254"]]},{"id":"533d73d6.0a3ddc","type":"http response","z":"10a9edd6.196032","name":"","statusCode":"","headers":{},"x":610,"y":180,"wires":[]},{"id":"2ad05877.3f6c08","type":"http in","z":"10a9edd6.196032","name":"","url":"/file-upload/post","method":"post","upload":false,"swaggerDoc":"","x":220,"y":660,"wires":[["9b8cf682.a8b328","c3ccc35a.7bf2e","e2f7f5c.1592f08"]]},{"id":"e9062fd4.d970b","type":"comment","z":"10a9edd6.196032","name":"VueJS App","info":"","x":180,"y":140,"wires":[]},{"id":"22250bf.92fbdf4","type":"comment","z":"10a9edd6.196032","name":"Form Submit","info":"","x":230,"y":240,"wires":[]},{"id":"886b258b.429708","type":"http response","z":"10a9edd6.196032","name":"","statusCode":"","headers":{},"x":910,"y":680,"wires":[]},{"id":"c3ccc35a.7bf2e","type":"change","z":"10a9edd6.196032","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR').directory  & '\\\\' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[[]]},{"id":"fea3096a.0af1a8","type":"file","z":"10a9edd6.196032","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":890,"y":560,"wires":[[]]},{"id":"3e53ce07.39e1a2","type":"catch","z":"10a9edd6.196032","name":"","scope":null,"uncaught":false,"x":180,"y":740,"wires":[["a3ea806c.1a309"]]},{"id":"a86608d1.84f988","type":"ui_toast","z":"10a9edd6.196032","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":740,"wires":[]},{"id":"a3ea806c.1a309","type":"change","z":"10a9edd6.196032","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":740,"wires":[["a86608d1.84f988","b54af20.c6cef1"]]},{"id":"9b8cf682.a8b328","type":"change","z":"10a9edd6.196032","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["886b258b.429708"]]},{"id":"b46afd0c.7ebd5","type":"function","z":"10a9edd6.196032","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":620,"wires":[["e0d75c80.36c6b"]]},{"id":"646aa02a.07a2b","type":"function","z":"10a9edd6.196032","name":"","func":"\nlet strFileName = msg.filename;\nlet ext = env.get('Extension');\nlet dir = env.get('UPLOAD_DIR');\nvar msg2 = {};\n\nvar isValid = strFileName.includes(ext.extension);\n\nif (!isValid){\n    msg = null;\n    msg2.payload = \"Extension error\";\n} else {\n    msg.topic = \"file\";\n    msg2 = null;\n}\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":580,"wires":[["fea3096a.0af1a8"],["b46afd0c.7ebd5"]]},{"id":"e0d75c80.36c6b","type":"link out","z":"10a9edd6.196032","name":"","links":["1053199.f8650e6"],"x":1045,"y":620,"wires":[]},{"id":"b54af20.c6cef1","type":"link out","z":"10a9edd6.196032","name":"","links":["1053199.f8650e6"],"x":465,"y":800,"wires":[]},{"id":"e2f7f5c.1592f08","type":"function","z":"10a9edd6.196032","name":"","func":"node.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":520,"wires":[[]]},{"id":"b433b628.cbc2b8","type":"import","z":"6d26240.4c68bdc","sheetname":"BOM","x":770,"y":1000,"wires":[["9b2332fe.bc451"],["58a25c9e.931144"]]},{"id":"58a25c9e.931144","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":930,"y":1080,"wires":[]},{"id":"5c5703b2.0326fc","type":"catch","z":"6d26240.4c68bdc","name":"","scope":null,"uncaught":false,"x":140,"y":2140,"wires":[["310b3f71.8e5cb"]]},{"id":"d503cba4.1829f8","type":"ui_toast","z":"6d26240.4c68bdc","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":2140,"wires":[]},{"id":"310b3f71.8e5cb","type":"change","z":"6d26240.4c68bdc","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2140,"wires":[["d503cba4.1829f8"]]},{"id":"9b2332fe.bc451","type":"BOM Pre-process","z":"6d26240.4c68bdc","x":970,"y":940,"wires":[["b65f5639.37bda8"],["967b3776.780f08"]]},{"id":"b65f5639.37bda8","type":"link out","z":"6d26240.4c68bdc","name":"BOM Pre-process done","links":["8ee21a18.f5a668"],"x":1155,"y":880,"wires":[]},{"id":"967b3776.780f08","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1150,"y":980,"wires":[]},{"id":"10c6c262.b49f6e","type":"comment","z":"6d26240.4c68bdc","name":"Job BOM import","info":"Import job BOM from excel file","x":120,"y":880,"wires":[]},{"id":"3fd34b73.9e2724","type":"comment","z":"6d26240.4c68bdc","name":"Kit BOM Import","info":"","x":140,"y":1120,"wires":[]},{"id":"4f6dc58.c18ea3c","type":"function","z":"6d26240.4c68bdc","name":"BytetoString","func":"//extra bytes 0x000?, 0x00?0, 0x0?00, 0x?000, 0x0??0, 0x??00, 0x???0\nconst extraByteMap = [ 1, 1, 1, 1, 2, 2, 3, 0 ];\nmsg.topic = \"files\"\n\nlet kits = flow.get(\"kits\");\n\nkits.data.forEach(function (file,idx, arr){\n\n    var count = 0;\n    var data = [];\n    if (Buffer.isBuffer(arr[idx].data)){\n        data = Object.values(arr[idx].data);\n    } else {\n        var buffer = Object.values(arr[idx].data);\n        data = buffer[1];\n    }\n    var str = \"\";\n    for (var index = 0;index <data.length;)  //was count\n    {\n      var ch = data[index++];\n      if (ch & 0x80)\n      {\n        //check for non-ASCII (decimal 128-10175, hex x80-x27BF)\n        var extra = extraByteMap[(ch >> 3) & 0x07]; \n        if (!(ch & 0x40) || !extra || ((index + extra) > data.length)){\n          ch = ch & 0xFF;\n        } else {\n            ch = ch & (0x3F >> extra);\n            for (;extra > 0;extra -= 1)\n            {\n              var chx = data[index++];\n              if ((chx & 0xC0) != 0x80){\n                chx = 0x00;\n              }\n              ch = (ch << 6) | (chx & 0x3F);\n            }\n        }\n      }\n    \n      str += String.fromCharCode(ch);\n    }\n    arr[idx].data = str;\n});\n\nmsg.payload = kits;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1180,"wires":[["9669153e.252728"]]},{"id":"8656c37b.603cd","type":"change","z":"6d26240.4c68bdc","name":"getJobNumber","rules":[{"t":"set","p":"topic","pt":"msg","to":"jobnumber","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1280,"wires":[["9669153e.252728"]]},{"id":"8ee21a18.f5a668","type":"link in","z":"6d26240.4c68bdc","name":"","links":["b65f5639.37bda8"],"x":55,"y":1280,"wires":[["8656c37b.603cd"]]},{"id":"9669153e.252728","type":"function","z":"6d26240.4c68bdc","name":"","func":"context.kit_data = context.kit_data || {jobnumber:null, bom:null, data: null};\n\nswitch (msg.topic) {\n    case \"files\":\n        context.kit_data.data = msg.payload;\n        msg = null;\n        break;\n    case \"jobnumber\":\n        context.kit_data.jobnumber = msg.payload.jobnumber;\n        context.kit_data.bom = msg.payload.bom;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.kit_data.data !== null && context.kit_data.jobnumber !== null) {\n\tvar msg2 = { payload: context.kit_data };\n\treturn msg2;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1240,"wires":[["22efe992.83fad6"]]},{"id":"22efe992.83fad6","type":"Kit Pre-process","z":"6d26240.4c68bdc","x":920,"y":1240,"wires":[["91699c29.0ab96"],["2f2ceb9.8ef6914"]]},{"id":"2f2ceb9.8ef6914","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1280,"wires":[]},{"id":"8b04c3b6.80033","type":"Kardex Kit Import Pre-process","z":"6d26240.4c68bdc","x":360,"y":1460,"wires":[["16de36d5.440179"],["6b6f6165.c5627"]]},{"id":"6b6f6165.c5627","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":630,"y":1520,"wires":[]},{"id":"91699c29.0ab96","type":"link out","z":"6d26240.4c68bdc","name":"","links":["f5127f98.3339a"],"x":1095,"y":1180,"wires":[]},{"id":"f5127f98.3339a","type":"link in","z":"6d26240.4c68bdc","name":"","links":["91699c29.0ab96"],"x":95,"y":1460,"wires":[["8b04c3b6.80033"]]},{"id":"8e22c5d5.2405f8","type":"comment","z":"6d26240.4c68bdc","name":"Kit and BOM preprocessing","info":"","x":160,"y":1400,"wires":[]},{"id":"ca4cb36c.d22ad","type":"uibuilder","z":"6d26240.4c68bdc","name":"Kit Import UI","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":true,"x":340,"y":220,"wires":[["7c0e18f6.21e298"],["24ab33be.c0549c"]]},{"id":"1736a2b8.63a61d","type":"http in","z":"6d26240.4c68bdc","name":"","url":"/file-upload/BOM","method":"post","upload":true,"swaggerDoc":"","x":180,"y":540,"wires":[["d5f88db2.29085"]]},{"id":"240213b8.5e7eec","type":"http response","z":"6d26240.4c68bdc","name":"","statusCode":"","headers":{},"x":1170,"y":580,"wires":[]},{"id":"95df04b2.96c578","type":"debug","z":"f5f4892b.989ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":240,"wires":[]},{"id":"e45da8cc.1ddaf8","type":"function","z":"6d26240.4c68bdc","name":"","func":"let strFileName = msg.filename;\nlet properties = flow.get(\"properties\");\nlet ext = properties.bom_extension;\nlet dir = properties.directory;\nvar response = '';\n\nvar isValid = strFileName.includes(ext);\nif (!isValid){\n    msg.status_code = 403;\n    response = \"Error: only \" + ext.toString() + \" files are allowed.\";\n    msg.payload = {\"response\": response};\n    node.status({ fill:\"red\", shape:\"dot\", text: msg.response});\n    return [null, msg];\n} else {\n    msg.topic = \"file\";\n    msg.filename = dir + \"\\\\\" + strFileName;\n    response = \"Uploaded \" + strFileName + \" successfully\";\n    msg.payload =  {\"data\": msg.payload, \"response\":response};\n    \n    \n    return [msg, null];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":760,"y":480,"wires":[["132865a2.f8397a","2464d2e5.4f7bde"],["9b2f8626.8a4908"]]},{"id":"9b2f8626.8a4908","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.error(msg.response, msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":540,"wires":[["240213b8.5e7eec"]]},{"id":"41072ce2.c3fcd4","type":"file","z":"6d26240.4c68bdc","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1150,"y":420,"wires":[[]]},{"id":"d8c219c7.013688","type":"change","z":"6d26240.4c68bdc","name":"get file","rules":[{"t":"set","p":"filename","pt":"msg","to":"req.files[0].originalname","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":480,"wires":[["e45da8cc.1ddaf8"]]},{"id":"24ab33be.c0549c","type":"function","z":"6d26240.4c68bdc","name":"","func":"var properties = flow.get(\"properties\");\nif (properties === null || typeof properties === 'undefined'){\n    var new_msg = { payload: {} };    \n    return new_msg;\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["fa406681.a76cc8"]]},{"id":"fa406681.a76cc8","type":"link out","z":"6d26240.4c68bdc","name":"","links":["e30a8e87.5352"],"x":675,"y":240,"wires":[]},{"id":"e30a8e87.5352","type":"link in","z":"6d26240.4c68bdc","name":"","links":["fa406681.a76cc8"],"x":35,"y":240,"wires":[["a39f0779.85b9f8"]]},{"id":"9f887354.e697","type":"http in","z":"6d26240.4c68bdc","name":"","url":"/file-upload/Kit","method":"post","upload":true,"swaggerDoc":"","x":170,"y":800,"wires":[["d80244c6.b14b48"]]},{"id":"eca1cb06.64d348","type":"http response","z":"6d26240.4c68bdc","name":"","statusCode":"","headers":{},"x":1170,"y":820,"wires":[]},{"id":"1f7b2e6.ba6e7d2","type":"change","z":"6d26240.4c68bdc","name":"getFile","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":740,"wires":[["85e4be94.a20ba"]]},{"id":"85e4be94.a20ba","type":"function","z":"6d26240.4c68bdc","name":"","func":"const fs = global.get('fsModule');\n\nlet properties = flow.get(\"properties\");\n\nlet ext = properties.kit_extension;\nlet dir = properties.directory;\n\nvar filenames = [];\nvar valid = true;\nvar breakloop = false;\n\nnode.status({});\n\n\nmsg.req.files.forEach(function (file,index, arr){\n    if (breakloop) return;\n    try{\n        if (!valid) return;\n        var strFileName = file.originalname;\n        var isValid = strFileName.includes(ext);\n        if (!isValid){\n           valid = false;\n        } else {\n            arr[index].originalname = dir + \"\\\\\" + file.originalname;\n        }\n        var fileObj = {filename : arr[index].originalname, data : file.buffer};\n        filenames.push(fileObj);\n    } catch (error){\n        breakloop = true;\n        node.error(error);\n        msg.status_code = 403;\n        msg.payload = {\"data\":null, \"response\": err};\n        node.status({ fill:\"red\", shape:\"dot\", text: msg.response});\n    }\n});\n\n//write csv files to home directory\nif (msg.req.files !== null && typeof msg.req.files !== 'undefined'){\n    msg.req.files.forEach(function (file,index, arr){\n        fs.writeFile(file.originalname, file.buffer, err => { \n        // In case of a error throw err. \n        if (err) { \n            node.warn(err);\n            msg.status_code = 403;\n            msg.payload = {\"data\":filenames, \"response\": err};\n            node.status({ fill:\"red\", shape:\"dot\", text: msg.response});\n        }\n            \n        }) \n    }); \n}\n\n\nif (!valid){\n    node.warn(\"error\");\n    var errorMsg = `Error: only ${ext} files are allowed.`;\n    msg.status_code = 403;\n    msg.payload = {\"data\":filenames, \"response\": errorMsg};\n    node.status({ fill:\"red\", shape:\"dot\", text: msg.response});\n    \n    return [null, msg];\n} else {\n    msg.topic = \"kit\";\n    var response = \"Uploaded \" + parseInt(filenames.length) +\" files successfully\";\n    msg.payload =  {\"data\":filenames, \"response\":response};\n    return [msg, null];\n}\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":720,"y":740,"wires":[["d85010a3.45e76","edac2876.c61d08"],["a072686d.753a38"]]},{"id":"a072686d.753a38","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.error(msg.response, msg)\nnode.status({ fill:\"red\", shape:\"dot\", text: msg.response});\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":760,"wires":[["eca1cb06.64d348"]]},{"id":"7c0e18f6.21e298","type":"switch","z":"6d26240.4c68bdc","name":"Website output check","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"BOM","vt":"str"},{"t":"eq","v":"sheetname","vt":"str"},{"t":"eq","v":"Kit","vt":"str"},{"t":"eq","v":"download","vt":"str"},{"t":"eq","v":"monitor","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":620,"y":140,"wires":[["790c47b.e7c02b8"],["baca790a.6953c8"],["f713583e.31b998"],["ae9dcd05.312b8"],["a941f8c8.51eab8"]]},{"id":"f713583e.31b998","type":"change","z":"6d26240.4c68bdc","name":"Kit updated","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.kits","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":160,"wires":[["4971cd3b.4e6d94"]]},{"id":"baca790a.6953c8","type":"change","z":"6d26240.4c68bdc","name":"Sheetname updated","rules":[{"t":"set","p":"sheetname","pt":"flow","to":"payload.sheetname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":100,"wires":[["ebac2531.304078"]]},{"id":"790c47b.e7c02b8","type":"change","z":"6d26240.4c68bdc","name":"BOM updated","rules":[{"t":"set","p":"sheetname","pt":"flow","to":"payload.sheetname","tot":"msg"},{"t":"set","p":"BOM.filename","pt":"flow","to":"payload.filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":60,"wires":[["ebac2531.304078"]]},{"id":"ae9dcd05.312b8","type":"change","z":"6d26240.4c68bdc","name":"Download updated","rules":[{"t":"set","p":"download","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":200,"wires":[["e4942a3e.9f3b38"]]},{"id":"a39f0779.85b9f8","type":"function","z":"6d26240.4c68bdc","name":"Settings","func":"msg.properties = {\n    \"directory\": \".\",\n    \"bom_extension\": \"xlsm\",\n    \"kit_extension\": \"csv\",\n    \"bom_sheetname\": \"BOM\",\n    \"download_path\": \"\\\\\\\\itm01\\\\office\\\\Purchasing\\\\FastPic\",\n    \"job_folder\": \"Job_Import\",\n    \"bin_folder\": \"Bin_Import\",\n    \"kit_folder\": \"Kit_Import\"\n};\n\nflow.set(\"properties\", msg.properties);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":240,"wires":[["ca4cb36c.d22ad"]]},{"id":"b989cc4b.e6d13","type":"function","z":"6d26240.4c68bdc","name":"Check for file and sheetname","func":"var BOM = flow.get(\"BOM\")\nvar sheetname = flow.get(\"sheetname\")\n\nvar file = BOM.filename;\n\n\nif ((file !== null && typeof file !== 'undefined')  && (sheetname !== null && typeof sheetname !== 'undefined')){\n    msg.payload.file = file;\n    msg.payload.sheetname = sheetname;\n} else { \n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1000,"wires":[["b433b628.cbc2b8"]]},{"id":"ebac2531.304078","type":"link out","z":"6d26240.4c68bdc","name":"","links":["b2a3a28e.3f31b"],"x":1085,"y":80,"wires":[]},{"id":"b2a3a28e.3f31b","type":"link in","z":"6d26240.4c68bdc","name":"","links":["ebac2531.304078"],"x":75,"y":1000,"wires":[["1a9e01c7.e5c10e"]]},{"id":"a1144b4e.1850c8","type":"inject","z":"6d26240.4c68bdc","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"startup","payload":"","payloadType":"date","x":160,"y":40,"wires":[["5f09a494.0a22ac"]]},{"id":"5f09a494.0a22ac","type":"change","z":"6d26240.4c68bdc","name":"Reset nodes","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"BOM","pt":"flow"},{"t":"delete","p":"sheetname","pt":"flow"},{"t":"delete","p":"Kits","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":40,"wires":[[]]},{"id":"4971cd3b.4e6d94","type":"link out","z":"6d26240.4c68bdc","name":"","links":["32587827.3f5228"],"x":1015,"y":160,"wires":[]},{"id":"32587827.3f5228","type":"link in","z":"6d26240.4c68bdc","name":"","links":["4971cd3b.4e6d94"],"x":215,"y":1180,"wires":[["b0368243.d4688"]]},{"id":"d9e3e27c.f4b7f","type":"debug","z":"b0bb0e27.90ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"4ce0d0dd.6a21d","type":"debug","z":"75278354.160e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":680,"wires":[]},{"id":"d5f88db2.29085","type":"function","z":"6d26240.4c68bdc","name":"Check post","func":"//check all post data for errors\n\n//check directory setting\nlet dir = flow.get(\"properties\");\nif (!(dir.directory !== null && typeof dir.directory !== 'undefined' && dir.directory.length > 0)) {\n    msg.payload.push({\"response\":\"Directory setting is not defined!\"});\n    return [null, msg];\n}\n\n//check for files list in request\nlet files = msg.req.files;\nif (!(files !== null && typeof files !== 'undefined')) {\n    msg.payload.push({\"response\":\"No files found!\"});\n    return [null, msg];\n}\n\n//check for originalfilename field\nlet filename = msg.req.files[0].originalname;\nif (!(filename !== null && typeof filename !== 'undefined' && filename.length > 0)){\n    msg.payload.push({\"response\":\"No filename found!\"});\n    return [null, msg];\n}\n\n//check for buffer\nlet buffer = msg.req.files[0].buffer;\nif (!(buffer !== null && typeof buffer !== 'undefined' && buffer.length > 0)) {\n    msg.payload.push({\"response\":\"No file data in buffer!\"});\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":540,"wires":[["d8c219c7.013688"],["c88276cb.d17e48"]]},{"id":"c88276cb.d17e48","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.error(msg.response, msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["240213b8.5e7eec"]]},{"id":"d80244c6.b14b48","type":"function","z":"6d26240.4c68bdc","name":"Check post","func":"//check all post data for errors\n\n//check directory setting\nlet dir = flow.get(\"properties\");\n\nif (!(dir.directory !== null && typeof dir.directory !== 'undefined' && dir.directory.length > 0)) {\n    msg.error = \"Directory setting is not defined!\";\n    return [null, msg];\n}\n\n//check for files list in request\nlet files = msg.req.files;\nif (!(files !== null && typeof files !== 'undefined')) {\n    msg.error =\"No files found!\";\n    return [null, msg];\n}\n\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":800,"wires":[["1f7b2e6.ba6e7d2"],["49f4ba54.9a39f4"]]},{"id":"49f4ba54.9a39f4","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.error(`Error in file upload request`, msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":820,"wires":[["eca1cb06.64d348"]]},{"id":"a3c88179.900bd","type":"http request","z":"3771bc50.fd24c4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":160,"wires":[["c82bb474.895de8"]]},{"id":"5cc1babf.7fe4e4","type":"inject","z":"3771bc50.fd24c4","name":"Login","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Bins","x":180,"y":160,"wires":[["d0d511f3.bc12f"]]},{"id":"d0d511f3.bc12f","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\nmsg.payload = {\"username\":\"Admin\",\"password\":\"RaH3UDo9\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["6c2805cf.52edec"]]},{"id":"c82bb474.895de8","type":"function","z":"3771bc50.fd24c4","name":"","func":"var accessToken = msg.payload.accessToken;\nvar refreshToken = msg.payload.refreshToken;\n\nlet data = JSON.parse(msg.payload);\n\nflow.set(\"accessToken\", data.accessToken);\nflow.set(\"refreshToken\", data.refreshToken);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":160,"wires":[["3810eaaf.933836"]]},{"id":"292908c0.2ff4f8","type":"comment","z":"3771bc50.fd24c4","name":"Login","info":"","x":180,"y":120,"wires":[]},{"id":"3d081cf3.38a594","type":"http request","z":"3771bc50.fd24c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":280,"wires":[["8a55f072.ed72c"]]},{"id":"723b5ab7.ce3b44","type":"inject","z":"3771bc50.fd24c4","name":"Bins","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Bins","x":170,"y":280,"wires":[["c155171d.0b9898"]]},{"id":"c155171d.0b9898","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["3530328e.84319e"]]},{"id":"8a55f072.ed72c","type":"function","z":"3771bc50.fd24c4","name":"","func":"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["eedd320e.6ce5b"]]},{"id":"e5323f1b.7e1a4","type":"comment","z":"3771bc50.fd24c4","name":"Bins","info":"","x":170,"y":240,"wires":[]},{"id":"eedd320e.6ce5b","type":"debug","z":"3771bc50.fd24c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":280,"wires":[]},{"id":"7a1878b5.95dea8","type":"http request","z":"3771bc50.fd24c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":400,"wires":[["21b4e797.202ac8"]]},{"id":"370e4216.3324ae","type":"inject","z":"3771bc50.fd24c4","name":"Kits","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Kits","x":170,"y":400,"wires":[["dd9a3f21.3aabc"]]},{"id":"dd9a3f21.3aabc","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["e67bcb8.483a238"]]},{"id":"21b4e797.202ac8","type":"function","z":"3771bc50.fd24c4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":400,"wires":[["214ecd62.f92df2"]]},{"id":"b1f75c9c.01fd","type":"comment","z":"3771bc50.fd24c4","name":"Kits","info":"","x":170,"y":360,"wires":[]},{"id":"214ecd62.f92df2","type":"debug","z":"3771bc50.fd24c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":400,"wires":[]},{"id":"3810eaaf.933836","type":"debug","z":"3771bc50.fd24c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":160,"wires":[]},{"id":"d441b81d.dc4258","type":"http request","z":"3771bc50.fd24c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":520,"wires":[["1cf30162.f225bf"]]},{"id":"1c96a724.717519","type":"inject","z":"3771bc50.fd24c4","name":"Locations","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Locations","x":180,"y":520,"wires":[["b1627cf3.b8acc"]]},{"id":"b1627cf3.b8acc","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["8da81af4.a4b1c8"]]},{"id":"1cf30162.f225bf","type":"function","z":"3771bc50.fd24c4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":520,"wires":[["7d2e009c.b4f0d"]]},{"id":"2fc41705.7ab498","type":"comment","z":"3771bc50.fd24c4","name":"Locations","info":"","x":180,"y":480,"wires":[]},{"id":"7d2e009c.b4f0d","type":"debug","z":"3771bc50.fd24c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":520,"wires":[]},{"id":"171eadf8.3cfdd2","type":"http request","z":"3771bc50.fd24c4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://integrity.itempath.com/api/jobs","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":640,"wires":[["691db2ee.58d9fc"]]},{"id":"249458ba.4c0cb8","type":"inject","z":"3771bc50.fd24c4","name":"Jobs","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Jobs","x":170,"y":640,"wires":[["e850b21c.84b68"]]},{"id":"e850b21c.84b68","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":640,"wires":[["cdbaf45c.f68ec8"]]},{"id":"691db2ee.58d9fc","type":"function","z":"3771bc50.fd24c4","name":"Filter - Active Jobs","func":"var jobs_obj = JSON.parse(msg.payload);\nvar jobs = jobs_obj.jobs;\n\nvar temp = {};\nfor (var i=0; i<jobs.length; i++){\n    if (jobs[i].lines.length > 0)\n        temp[jobs[i].id]={\"id\":jobs[i].id, \"name\":jobs[i].name, \"number\":jobs[i].number, \"lines\": jobs[i].lines};\n}\n\n\njobs = [];\nfor (var o in temp){\n    jobs.push(temp[o]);\n}\n\n\nflow.set(\"jobs\", jobs);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":640,"wires":[[]]},{"id":"36e1d05.434c73","type":"comment","z":"3771bc50.fd24c4","name":"Jobs","info":"","x":170,"y":600,"wires":[]},{"id":"3f70ad77.653bb2","type":"comment","z":"3771bc50.fd24c4","name":"get kit from job","info":"","x":200,"y":720,"wires":[]},{"id":"ccf23902.2628c8","type":"function","z":"3771bc50.fd24c4","name":"Get job list","func":"let jobs = flow.get(\"jobs\");\nvar new_jobs = [];\n\nfor (var i=0; i< jobs.length; i++){\n    new_jobs.push({\"id\":jobs[i].id, \"name\":jobs[i].name, \"number\":jobs[i].number});\n}\n\nmsg.payload = {\"jobs\" : new_jobs }\n\nflow.set(\"kits\", []);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":780,"wires":[["5355e97c.b5d578"]]},{"id":"ce70c1a3.45888","type":"function","z":"3771bc50.fd24c4","name":"Loop through jobs","func":"const uuid = msg.payload.uuid;\n\nlet jobs = msg.payload.jobs;\nlet newMsg = {};\n\nnewMsg.parts = {};\nnewMsg.parts.count = jobs.length;\nnewMsg.parts.id = uuid;\n\nnewMsg.topic = \"jobLoop\";\nfor (var i = 0; i < jobs.length; i++) {\n    newMsg.payload = jobs[i].id;\n    newMsg.parts.index = i;\n    node.send(newMsg);\n\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":780,"wires":[["d0bc2c17.36af3"]]},{"id":"3f83940.4dcae6c","type":"inject","z":"3771bc50.fd24c4","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"jobs_kits","x":100,"y":920,"wires":[["ccf23902.2628c8"]]},{"id":"d0bc2c17.36af3","type":"function","z":"3771bc50.fd24c4","name":"Set headers","func":"msg.url = {}\n\nmsg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":780,"wires":[["298a4492.7c54ac"]]},{"id":"7a1ef473.3515fc","type":"function","z":"3771bc50.fd24c4","name":"Get kits for active jobs","func":"let job_obj = JSON.parse(msg.payload);\nlet job = job_obj.job;\nlet id  = job.id;\nlet name = job.name;\nlet number = job.number;\n\nlet lines = job.lines; \n\nlet temp = {};\n\nfor (var i=0; i<lines.length; i++){\n    if (lines[i].Info4 !== null && lines[i].Info4 !== 'None'){\n        temp[lines[i].Info4] = {\"id\":id, \"name\":name, \"number\":number, \n            \"kit\": lines[i].Info4};\n    }\n}\n\nlet kits = [];\nfor (var o in temp){\n    if(Object.keys(o).length > 0)\n        kits.push(temp[o]);\n}\n\nmsg.topic = \"kits\"\nmsg.payload = {\"kits\":JSON.stringify(kits)}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":900,"wires":[["4ff02878.e97468"]]},{"id":"298a4492.7c54ac","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/jobs/\" + msg.payload +\"?=\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":780,"wires":[["a937cd5f.1aa16"]]},{"id":"a937cd5f.1aa16","type":"http request","z":"3771bc50.fd24c4","name":"http request - Show Job","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":780,"wires":[["7a1ef473.3515fc"]]},{"id":"5bfbddba.5238b4","type":"change","z":"3771bc50.fd24c4","name":"Set base URL","rules":[{"t":"set","p":"base_url","pt":"flow","to":"http://integrity.itempath.com/api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":60,"wires":[[]]},{"id":"ac5bc600.7c3408","type":"inject","z":"3771bc50.fd24c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":60,"wires":[["5bfbddba.5238b4"]]},{"id":"6c2805cf.52edec","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/users/login\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":160,"wires":[["a3c88179.900bd"]]},{"id":"3530328e.84319e","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/bins\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":280,"wires":[["3d081cf3.38a594"]]},{"id":"e67bcb8.483a238","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/kits\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[["7a1878b5.95dea8"]]},{"id":"8da81af4.a4b1c8","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/locations\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":520,"wires":[["d441b81d.dc4258"]]},{"id":"cdbaf45c.f68ec8","type":"function","z":"3771bc50.fd24c4","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/jobs\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":640,"wires":[["171eadf8.3cfdd2"]]},{"id":"db4addec.7092f","type":"join","z":"3771bc50.fd24c4","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":900,"wires":[["7bf0646d.8e8efc"]]},{"id":"4ff02878.e97468","type":"switch","z":"3771bc50.fd24c4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"kits","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":900,"wires":[["db4addec.7092f"]]},{"id":"5355e97c.b5d578","type":"uuid","z":"3771bc50.fd24c4","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload.uuid","fieldType":"msg","x":350,"y":780,"wires":[["ce70c1a3.45888"]]},{"id":"7bf0646d.8e8efc","type":"function","z":"3771bc50.fd24c4","name":"","func":"let job_kits = msg.payload;\n\nlet new_kits = [];\n\nfor (var i=0; i < job_kits.length; i++){\n    let kits = job_kits[i].kits;\n    \n    let kits_list  = JSON.parse(kits);\n    for (var j=0; j<kits_list.length; j++){\n        new_kits.push(kits_list[j]);\n    }\n    \n}\n\n\nmsg.payload = new_kits;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":980,"wires":[["1d15a7e2.a048b8"]]},{"id":"1d15a7e2.a048b8","type":"debug","z":"3771bc50.fd24c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":980,"wires":[]},{"id":"132865a2.f8397a","type":"change","z":"6d26240.4c68bdc","name":"response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":480,"wires":[["240213b8.5e7eec"]]},{"id":"2464d2e5.4f7bde","type":"change","z":"6d26240.4c68bdc","name":"BOM file data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"BOM.file","pt":"flow","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":420,"wires":[["41072ce2.c3fcd4"]]},{"id":"d85010a3.45e76","type":"change","z":"6d26240.4c68bdc","name":"response","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":700,"wires":[["eca1cb06.64d348"]]},{"id":"edac2876.c61d08","type":"change","z":"6d26240.4c68bdc","name":"Kit files","rules":[{"t":"set","p":"kits","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":640,"wires":[[]]},{"id":"b0368243.d4688","type":"function","z":"6d26240.4c68bdc","name":"Check for kits","func":"let kits  = flow.get(\"kits\")\n\nif (kits === null || typeof kits === 'undefined')\n    return null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1180,"wires":[["4f6dc58.c18ea3c"]]},{"id":"f5d440d3.890ea","type":"watch","z":"6d26240.4c68bdc","name":"Wait for excel file","files":"./","recursive":"","x":140,"y":940,"wires":[["d24d6985.678d48"]]},{"id":"d24d6985.678d48","type":"function","z":"6d26240.4c68bdc","name":"check if BOM upload complete","func":"const BOM = flow.get(\"BOM\");\nconst filename = BOM.filename;\n\nconst props = flow.get(\"properties\");\nconst bom_ext = props.bom_extension;\n//node.warn(bom_ext);\n\nif (BOM.filename !== null || BOM.filename !== 'undefined'){\n    //node.warn(msg);\n    if (msg.type === \"file\" && msg.file === filename){\n        var pos = filename.lastIndexOf(\".\");\n        var ext = filename.substring(pos+1, filename.length);\n        //node.warn(ext);\n        if (ext === bom_ext)\n            return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":940,"wires":[[]]},{"id":"1a9e01c7.e5c10e","type":"function","z":"6d26240.4c68bdc","name":"check if BOM exists","func":"const fs = global.get('fsModule');\n\nconst props = flow.get(\"properties\");\nconst path = props.directory;\n\nconst BOM = flow.get(\"BOM\");\nconst filename = BOM.filename\n\nlet fullname = path + \"\\\\\" + BOM.filename\n\ntry {\n  if (fs.existsSync(fullname)) {\n    return msg;\n  }\n} catch(err) {\n    node.warn(err);\n    node.status({ fill:\"red\", shape:\"dot\", text: err});\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":1000,"wires":[["b989cc4b.e6d13"]]},{"id":"16de36d5.440179","type":"change","z":"6d26240.4c68bdc","name":"enable download","rules":[{"t":"set","p":"download_enabled","pt":"msg","to":"{\"state\":true}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"properties","tot":"str"},{"t":"set","p":"properties","pt":"msg","to":"properties","tot":"flow"},{"t":"set","p":"imports","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1420,"wires":[["1eacb8b7.cfcfc7"]]},{"id":"1eacb8b7.cfcfc7","type":"link out","z":"6d26240.4c68bdc","name":"","links":["c672848.336e078"],"x":835,"y":1420,"wires":[]},{"id":"c672848.336e078","type":"link in","z":"6d26240.4c68bdc","name":"","links":["1eacb8b7.cfcfc7"],"x":215,"y":100,"wires":[["ca4cb36c.d22ad"]]},{"id":"e4942a3e.9f3b38","type":"link out","z":"6d26240.4c68bdc","name":"","links":["f15c5f3d.1507a"],"x":1095,"y":200,"wires":[]},{"id":"b40d74ce.883ac8","type":"comment","z":"6d26240.4c68bdc","name":"Create import files","info":"","x":130,"y":1580,"wires":[]},{"id":"f15c5f3d.1507a","type":"link in","z":"6d26240.4c68bdc","name":"","links":["e4942a3e.9f3b38"],"x":75,"y":1660,"wires":[["942db3c3.3680c"]]},{"id":"942db3c3.3680c","type":"function","z":"6d26240.4c68bdc","name":"Prepare data for import files","func":"let for_import = flow.get(\"imports\");\nlet locations = flow.get(\"download\");\n\n\nmsg.payload = {\"path\":locations.path, \"job_folder\":locations.jobFolder,\n    \"bin_folder\":locations.binFolder, \"kit_folder\": locations.kitFolder,\n    \"jobnumber\":for_import.jobnumber, \"bom\":for_import.bom, \"bom_bins\":for_import.bom_bins, \n    \"kits\": for_import.kits, \"kit_bins\":for_import.kit_bins};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1660,"wires":[["5219c54a.72efec"]]},{"id":"5219c54a.72efec","type":"Kardex Kit Import Create","z":"6d26240.4c68bdc","x":590,"y":1660,"wires":[["6f9a0f9b.56018"],["fd82295e.43f4f8"]]},{"id":"ec20885f.557778","type":"comment","z":"6d26240.4c68bdc","name":"To job BOM import","info":"","x":1210,"y":80,"wires":[]},{"id":"d58fb569.8bec38","type":"comment","z":"6d26240.4c68bdc","name":"To kit BOM import","info":"","x":1130,"y":160,"wires":[]},{"id":"d72dea2b.c10d98","type":"comment","z":"6d26240.4c68bdc","name":"To create import files","info":"","x":1210,"y":200,"wires":[]},{"id":"e748f8bd.04e2a8","type":"comment","z":"6d26240.4c68bdc","name":"To kit and BOM preprocessing","info":"","x":1250,"y":1180,"wires":[]},{"id":"de73819b.1f61b","type":"comment","z":"6d26240.4c68bdc","name":"Enable download on webpage","info":"","x":980,"y":1420,"wires":[]},{"id":"998a18af.47bcb8","type":"comment","z":"6d26240.4c68bdc","name":"Update import status on webpage","info":"","x":1010,"y":1920,"wires":[]},{"id":"fd82295e.43f4f8","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":830,"y":1740,"wires":[]},{"id":"5d5b2296.f6f8dc","type":"debug","z":"6d26240.4c68bdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"import_status","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":1720,"wires":[]},{"id":"437fc8f2.833648","type":"link in","z":"6d26240.4c68bdc","name":"","links":["470ef6e8.abd568"],"x":195,"y":160,"wires":[["ca4cb36c.d22ad"]]},{"id":"a6638f88.23ca6","type":"comment","z":"6d26240.4c68bdc","name":"enable download","info":"","x":100,"y":100,"wires":[]},{"id":"aa6f6e1d.2e631","type":"comment","z":"6d26240.4c68bdc","name":"import update","info":"","x":90,"y":160,"wires":[]},{"id":"4e0bc617.f251e8","type":"change","z":"6d26240.4c68bdc","name":"","rules":[{"t":"set","p":"import_status","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"import_status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1740,"wires":[["5219c54a.72efec"]]},{"id":"ebaa750c.d2f958","type":"inject","z":"6d26240.4c68bdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1740,"wires":[["4e0bc617.f251e8"]]},{"id":"3a15a85.9192558","type":"Kardex Kit Import Monitor","z":"6d26240.4c68bdc","x":570,"y":1980,"wires":[["c4499320.d63a1"],["27c2a987.ec1bd6"]]},{"id":"bc621919.4c80c8","type":"complete","z":"6d26240.4c68bdc","name":"","scope":["5219c54a.72efec"],"uncaught":false,"x":170,"y":1840,"wires":[["393e9c69.fad324"]]},{"id":"6f9a0f9b.56018","type":"change","z":"6d26240.4c68bdc","name":"Clear flow variables","rules":[{"t":"delete","p":"properties","pt":"flow"},{"t":"delete","p":"BOM","pt":"flow"},{"t":"delete","p":"sheetname","pt":"flow"},{"t":"delete","p":"download","pt":"flow"},{"t":"delete","p":"kits","pt":"flow"},{"t":"set","p":"monitor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1620,"wires":[["e0e89e33.e3df"]]},{"id":"53fc01ac.a9ef","type":"function","z":"6d26240.4c68bdc","name":"Request next import","func":"let monitor = flow.get(\"monitor\");\nvar id = monitor.id;\n\nswitch(id){\n    case 0:\n        //job bin import\n        let filename  = monitor.path + \"\\\\\" + monitor.bin_folder + \"\\\\trigger_bin.txt\";\n        msg.payload = {\"path\": filename, \"action\": \"Job Bin import\"}\n        break;\n    case 1:\n        //job bom import\n        break;\n    case 2:\n        //kit bom import\n        break;\n    case 3:\n        //kit bin import\n        break;\n    default:\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1980,"wires":[["3a15a85.9192558"]]},{"id":"393e9c69.fad324","type":"debug","z":"6d26240.4c68bdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1840,"wires":[]},{"id":"e0e89e33.e3df","type":"link out","z":"6d26240.4c68bdc","name":"","links":[],"x":1045,"y":1620,"wires":[]},{"id":"14d7fc6.3845704","type":"link in","z":"6d26240.4c68bdc","name":"","links":["884b84ef.c96908"],"x":55,"y":1980,"wires":[["53fc01ac.a9ef"]]},{"id":"c4499320.d63a1","type":"link out","z":"6d26240.4c68bdc","name":"","links":[],"x":795,"y":1920,"wires":[]},{"id":"27c2a987.ec1bd6","type":"function","z":"6d26240.4c68bdc","name":"Error","func":"node.warn(msg.payload);\nnode.error(`Error: ` + msg.payload, msg);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":830,"y":2000,"wires":[]},{"id":"a941f8c8.51eab8","type":"function","z":"6d26240.4c68bdc","name":"Request next import trigger","func":"let monitor = flow.get(\"monitor\")\n\nflow.set(\"monitor\", monitor.id++)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":260,"wires":[["884b84ef.c96908"]]},{"id":"884b84ef.c96908","type":"link out","z":"6d26240.4c68bdc","name":"","links":["14d7fc6.3845704"],"x":1155,"y":260,"wires":[]}]